* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.navbar h3 {
  font-size: 24px;
  font-weight: 700;
}
.menu a {
  /* display: none; */
  text-decoration: none;
  margin-right: 15px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.menu span {
  margin-right: 15px;
}
/* Hero Section */
.hero {
  display: flex;
  gap: 110px;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
.hero-title {
  font-size: 52px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.hero-discription {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #3a3a3a;
}
.btn-primary {
  border-radius: 41px;
  background: #e02c6d;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  cursor: pointer;
}
.image img {
  width: 440px;
  height: 414px;
}
.marketplace {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
}
/* Popular Collection */
.products-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.container-title {
  font-size: 28px;
  font-weight: 600;
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.container {
  width: 329px;
  height: 450px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.products img {
  width: 100%;
  height: 256px;
}
.container-info h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 16px;
}
.container-info p {
  font-size: 14px;
  font-weight: 700;
  color: #787885;
  margin-top: 6px;
}
.container-info i {
  color: #fb8200;
  width: 11.068px;
  height: 10.316px;
  margin-top: 6px;
}
.container-info span {
  color: #5e6366;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  text-align: center;
}
.see-more {
  font-size: 16px;
  font-weight: 700;
  color: rgba(224, 44, 109, 0.87);
  margin-top: 50px;
  text-align: end;
  justify-content: end;
  display: flex;
  align-items: center;
  margin-right: 60px !important;
}
/* Last section */
.last-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
  margin: 120px 0px;
}
.last-image {
  width: 404px;
  height: 270px;
  border-radius: 8px;
}
.last-info h3 {
  font-size: 38px;
  font-weight: 700;
  color: #0a0826;
  margin-bottom: 16px;
}
.last-info p {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}
footer {
  background-color: #0a0826;
  width: 100%;
  height: 200px;
  text-align: center;
}
.footer {
  padding-top: 50px;
}
.footer h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0;
}
.footer i {
  color: #fff;
  margin-left: 5px;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(47, 47, 66);
}
@media only screen and (max-width: 668px) {
  .navbar,
  .hero {
    flex-direction: column;
  }
  .navbar h3,
  .hero-title {
    font-size: 28px;
  }
  .hero-discription {
    font-size: 17px;
  }
  .hero-info,
  .navbar,
  .last-section {
    padding: 10px;
  }
  .last-image {
    padding: 10px;
    width: 100%;
    overflow: hidden;
  }
  .last-image img {
    width: 100%;
  }
  .image img {
    width: 100%;
    height: 200px;
  }
  .marketplace,
  .last-section {
    flex-direction: column;
  }
  .menu {
    margin-top: 5px;
  }
}
